@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: linear-gradient(rgb(38, 185, 60), rgb(136, 175, 142));
  margin: 0;
  height: 100%;
}

.contenedor-padre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carta {
  border: transparent;
  width: 300px;
  max-width: 300px;
  height: 450px;
  border-radius: 10px;
  background-color: #fffbfb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 0 35px 15px rgba(77, 77, 78, 0.521);
  font-size: 80px;
}

p {
  margin: 0;
}

.number-center {
  font-size: 1.5em;
}

.simbols-down,
.simbols-up {
  font-size: 1em;
}

.container-center {
  display: flex;
  justify-content: center;
}

.container-up {
  display: flex;
  margin-right: auto;
  margin-left: 10px;
}

.container-down {
  display: flex;
  margin-left: auto;
  transform: rotate(180deg);
  margin-right: 10px;
}

.container-botons {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
}

#button-random {
  margin-bottom: 20px;
  background-color: #43835f;
  border: 0px;

  padding: 10px;
  border-radius: 7px;
  font-weight: 600;

  color: rgb(239, 250, 239);
}

#button-custom {
  background-color: #43835f;
  border: 0px;
  padding: 10px;
  border-radius: 7px;
  font-weight: 600;
  color: rgb(239, 250, 239);
}
