@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: linear-gradient(rgb(36, 155, 54), rgb(188, 231, 194));
  margin: 0;
  height: 100%;
}

.contenedor-padre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carta {
  border: 0 2px transparent;
  width: 300px;
  max-width: 300px;
  height: 450px;
  border-radius: 10px;
  background-color: #fffbfb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 0 35px 15px rgba(77, 77, 78, 0.521);
}

p {
  margin: 0;
}

.number-center {
  font-size: 7.5em;
}

.simbols-down,
.simbols-up {
  font-size: 5em;
}

.container-center {
  display: flex;
  justify-content: center;
}

.container-up {
  display: flex;
  margin-right: auto;
  margin-left: 10px;
}

.container-down {
  display: flex;
  margin-left: auto;
  transform: rotate(180deg);
  margin-right: 10px;
}
